@import "tailwindcss";

@theme {
  --font-sans: "Kanit", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --color-pink-1: #FFA6FF;
  --color-pink-2: #FF85E8;
  --color-pink-3: #FF66D2;
  --color-pink-4: #FF47BD;
}

body {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
}
